[submodule "natael/swissd"]
	path = natael/swissd
	url = git://github.com/natael/swissd.git
[submodule "Flave/auto-typo-adobe-id"]
	path = Flave/auto-typo-adobe-id
	url = git://github.com/Flave/auto-typo-adobe-id.git
[submodule "schlompf/layout-invaders"]
	path = schlompf/layout-invaders
	url = git://github.com/schlompf/layout-invaders.git
[submodule "submodule-FontFunFriday"]
	path = submodule-FontFunFriday
	url = git@github.com:PDXIII/FontFunFriday.git
[submodule "PDXIII/submodule-FontFunFriday"]
	path = PDXIII/submodule-FontFunFriday
	url = git@github.com:PDXIII/FontFunFriday.git
