    /***********************
    Main CSS based on twitter 
    bootstrap build with .less
    by fabiantheblind
    Copyright © 2012

    ************************/

 @import "bootstrap.less";
 // @import "fonts.less";
// @import "lightbox.less";


// overwrite bs less variables
@bodyBackground:        @white;
@baseLineHeight:        1.5em;
@baseFontSize:          1.2em;
@smallLineHeight:        1.4em;
@smallFontSize:          1em;

@serifFontFamily:       "calluna", Georgia, serif;
@sansFontFamily:        @serifFontFamily;
@baseFontFamily:        @serifFontFamily;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    "calluna",Georgia, serif;
@subpageh1          :   128px;

@contrib_margin:           5px;
// mixins



.serifbold(){
font-family: "calluna","Georgia",serif;
font-style: normal;
font-weight: 900;

    
}

.serifregular(){

font-family: "calluna","Georgia",serif;
font-style: normal;
font-weight: 400;
}
// overwrite bs classes

body {
    padding-top: 0em;
    .serifregular;

    font-size: @baseFontSize;
}

    h1.fit{
    // margin-left: auto;
    // margin-right: auto;
    // text-align: center;
    // font-size: @subpageh1;
display: block;
}

img#forkme{
position: absolute;
top: 0;
right: 0;
border: 0;
z-index: 1111;
}

/*
Overwrite bootstrap less
*/
.carousel .item > img {
  line-height: 0;
}

img.avatar{
        -moz-border-radius: 15px;
        border-radius: 15px;
}


.hero-unit{
    padding: 0px;

    background-color: @bodyBackground;
    h1{
        .serifbold;
        // padding-bottom: 1.5em;
    }
    p{
        font-size: @baseFontSize;
        line-height: @baseLineHeight;
    }
    img{
        width :100%;
    }
}


.depth {
    display: block;
    padding: 50px;
    color: black;
    font: bold 7em Arial, sans-serif;
    position: relative;
}

.depth:before, .depth:after {
    content: attr(title);
    padding: 50px;
    color: rgba(255,255,255,.1);
    position: absolute;
}

.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }



#contributers{

     margin-left: auto ;
  margin-right: auto ;

       // #contribs{
       //  
       //  }

.contrib_span2{
    display:inline-block;
    min-width: 12%;
    max-width: 17%;
    // width:96px;
    margin-left: @contrib_margin;
    margin-right: @contrib_margin ;
    margin:@contrib_margin;
//     // Table columns
 //  float: none; // undo default grid column styles
 // width: ((@contrib_gridColumnWidth) * @contrib_columnSpan) + (@contrib_gridGutterWidth * (@contrib_columnSpan - 1)) - 16; // 16 is total padding on left and right of table cells
 //   margin-left: 0; // undo default grid column styles
}
}

    img{
 
    }

a.contribslink img{

    filter:alpha(opacity=75);
    -moz-opacity:0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    }

a.contribslink:hover img{
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    }


}


#sublinks{
    border-top: 1px solid rgba(149, 149, 149, 0.73);

#mingal{
        margin-top: 5px;
    max-width:32px;
    max-height:32px;
    img{

        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}
}
#footer{
border-top: 1px solid rgba(149, 149, 149, 0.73);
font-size: 1.2em;
}



/* SUBPAGES*/

.subpage{

    #back{
    // position:absolute;
    margin-top: @baseLineHeight;
    font-size: 5em;
    // top:48px;
    }


    img#avatar{
    max-width :@subpageh1;
    max-height :@subpageh1;

        }
    }

pre,code{
    font-size: 1.0em;
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */

}

/*****************************************************************************
/* 
/* MEDIA QUERIES
**********************************************************/

.smalltext(){
    body {
        font-size: @smallFontSize;
        line-height: @smallLineHeight;
    }

}

/* Landscape phones and down*/
 @media (max-width: 480px) {

.smalltext;
 }

/* Landscape phone to portrait tablet*/

 @media (max-width: 767px) { 

.smalltext;
  }



/*Portrait tablet to landscape and desktop*/
 @media (min-width: 768px) and (max-width: 979px) { }

/* Large desktop*/

 @media (min-width: 980px) and (max-width: 1199px) {  }
 

 @media (min-width: 1200px) {  }

 @media (min-width: 1280px) {  

    // #hero-carousel{
    //     background-color: #000000;
    //     #myCarousel{

    //     max-width: 1280px;
    //     margin-left: auto;
    //    margin-right: auto;
    //     }
  
    // }
 }