---
layout: default
---  
<div class="container">
<div class="subpage">
<div class="row">
    <div class="span10 offset1">
    {{ content }}
</div>
</div>
<div class="row">
    <div  id="sublinks"> 

<!-- <div class="span2 offset1" id="home">
<a href="/">
    <div id="sublinks_span">
    <img src="assets/images/a_auto-typo_avatar.png" >
    </div>
</a>
</div>
 -->
<div class="span8 offset2" id="headlined">
<div class="contributers">
    <a href="/Typography-And-Automation/" class="contribslink">
        <div class="contrib_span1" id="mingal">
        <img src="assets/images/a_auto-typo_avatar.png" class="avatar">
    </div>
    </a>
        {{ 'assets/images/avatar/*.png'| gallerymini }}
</div>
    </div>
</div></div>
<!-- <div class="row">
        <div class="span1 offset2" id="back">
<a href="/">&lArr;</a> -->
</div>
</div>
</div>
</div>